@model Green_Hill.ViewModels.CitaViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CitaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Fecha" class="control-label"></label>
				<input asp-for="Fecha" class="form-control" />
				<span asp-validation-for="Fecha" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Hora" class="control-label"></label>
				<input asp-for="Hora" class="form-control" />
				
				@*@Html.DropDownListFor(m => m.Cita.TipoCitaId,
                                       new SelectList(Model.TiposCita.Select(x => new { Value = x.Id, Text = x.Titulo }), "Value", "Text"), "Selecione",
                                       htmlAttributes: new { @class = "form-control border-input" })*@
				<span asp-validation-for="Hora" class="text-danger"></span>
			</div>
			<div class="form-group">
				@*@Html.DropDownListFor(m => m.Cita.TipoCitaId,
		new SelectList(Model.TiposCita.Select(x => new { Value = x.Id, Text = x.Titulo }), "Value", "Text"), "Selecione",
		htmlAttributes: new { @class = "form-control border-input" })*@
				<select asp-for="Cita.TipoCitaId"
						asp-items="@(new SelectList(Model.TiposCita,"Id","Titulo"))" class="form-control border-input">
					<option>Selecione</option>
				</select>
				<span asp-validation-for="Cita.TipoCitaId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
